.todolist {
    background-color:#FFF;
    margin-top:30px;
    box-shadow: 0 0 15px black;
}

.newTodoList {
    margin-top:30px;
}

.btn-token {
    margin-top: 30px;
}

.item-checked {
    text-decoration: line-through;
    color: #34495e;
}
