<!DOCTYPE html>
<html lang="en" ng-app='checkit'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="TODO application written in Angular + Flask">
  <meta name="author" content="Guillermo Carrasco">

  <title>Check IT TODO App</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/starter-template.css">
  <link rel="stylesheet" href="/static/css/checkit.css">


</head>

<body ng-controller="TodoListController as listsCtrl">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://github.com/guillermo-carrasco/checkit">Check IT</a>
      </div>
    </div>
  </div>

  <div class="container" id="lists_container">

    <!-- Show log in button if user_id is not defined -->
    <div ng-controller="LoginCtrl">
      <div ng-show="!user_id">
        <div id="welcome">
          <h1>Welcome to CheckIT!</h1>
          <p>
            With this web app, you can create TODO lists. Your lists will be saved and ready for the
            next time you come!<br /> <br />
            Sign in with your GitHub account and give it a try!
          </p>
        </div>
        <button ng-click="authenticate('github')" class="btn btn-primary btn-lg btn-token col-md-12">Sign in with GitHub</button>
      </div>

      <!--If user is logged in, then load the notes-->
      <div class="col-md-12" ng-show="user_id">
        <!--Add new todo list-->
        <form id="todo-list-form" ng-submit="listsCtrl.addTodoList(user_id)" class="newTodoList">
          <input id="new-todo-list" placeholder="Enter title for a new TODO list" ng-model="listsCtrl.new_todo_list.description" required autofocus class="form-control">
        </form>
      </div>

      <!-- TODO list layout -->
      <div class="col-md-6 col-md-offset-3" ng-repeat="list in listsCtrl.lists" id={{list.id}} user_id={{list.user_id}}>
        <div class="panel panel-info todolist">
          <div class="panel-heading"> {{list.description}} </div>
          <div class="panel-body">
            <!--Add new todo Item-->
            <form id="todo-form" ng-submit="listsCtrl.addTodoItem(user_id, list)" class="newTodoItem">
              <input id="new-todo-item" placeholder="What needs to be done?" ng-model="listsCtrl.new_item[list.id]" required autofocus class="form-control">
            </form>

            <hr />

            <!--List of todos-->
            <div class="row">
              <div class="col-lg-12">
                <div ng-repeat="item in list.items">
                  <div ng-class="{'item-checked': item.checked}">
                    <input ng-model="todoItem" type="checkbox" id={{item.id}} list_id={{item.todo_list_id}} \
                           ng-change="listsCtrl.updateItem(user_id, list, item)"
                           ng-checked="item.checked"/> {{item.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-default">Active</button>
              <button type="button" class="btn btn-default">Done</button>
              <button type="button" class="btn btn-default">All</button>
              <button type="button" class="btn btn-default" ng-click="listsCtrl.delete_list(list)">Delete List</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.TODO list layout -->

  </div><!-- /.container -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/static/js/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/satellizer.min.js"></script>
  <script src="/static/js/controllers/todos_controller.js"></script>
  <script src="/static/js/controllers/login_controller.js"></script>
</body>
</html>
